.home {
  width: 100%;
  align-items: center;
  color: white;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
}

.about h2 {
  font-size: 60px;
  color: var(--secondary-color);
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}

.prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.prompt svg:hover {
  box-shadow: 0px 3px  var(--secondary-color);
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: white;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

.scrollButton {
  width: 160px;
  cursor: pointer;
  padding: 13px 1rem;
  color: white;
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-weight: 600;
  transition: 0.2s ease;
  border: none;
  appearance: none;
  outline: none;
}

.scrollButton:hover {
  color: black;
}

@media only screen and (max-width: 900px) {
  .about h2 {
    font-size: 56px;
  }
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
    height: 200px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
