.project-item {
  border: 2px solid rgba(211, 211, 211, 0.059);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  transition: 0.2s ease;
}

.project-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  user-select: none;
}

.project-details {
  padding: 0.5rem 1rem 1rem;
}

.project-details .small-details {
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.hard {
  color: lightcoral;
}

.easy {
  color: lightgreen;
}

.medium {
  color: yellow;
}

.project-details .project-title {
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  color: var(--project-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.project-details .project-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
