.project1 {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: start;
}

.project1-container {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.project1 h1 {
  color: var(--secondary-color);
  font-size: 35px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.project1 h1 svg {
  color: white;
  font-size: 30px;
}

.project1 img {
  width: 700px;
  border-radius: 10px;
}

.project1 p {
  font-size: 20px;
  color: white;
  font-weight: 200;
}

.project1 a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease;
}

.project1 a:hover {
  color: var(--secondary-color);
}

.project1 svg {
  font-size: 60px;
  color: var(--secondary-color);
}

.project1-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  width: 100%;
}
